#take-look {
  text-align: center;
  background-color: $primary-color;
  padding: 3em 0;
  color: $light-font-color;

  h2{
    text-transform: uppercase;
  }

  p{
    margin-bottom: 2em;
  }

  .take-my-money {
    background-color: $secondary-color;
  }

  .free-account {
    color: $light-font-color;
    border-color: $light-font-color;
    margin-left: 1em;
  }
}
